/* MAIN BLOCK */

body {
	font-family: 'Manrope', sans-serif;
	font-size: 1em;
	color :#F9F8FF;
	background-color: #1F2039;
}

*
{
	margin: 0;
}

/* SECONDARY BLOCK */

h1
{
	font-size: 3.5em;
	color:#A5B4FC;
	font-family: 'Montserrat', sans-serif;
}

p
{
	font-size: 1.1em;
	color: #f9f8ff;
}

a
{
	color: #242424;
	text-decoration: none;
}

section
{
	padding: 80px;
}

em
{
	color: #a5b4fc;
	font-style: normal;
}

header, footer
{
	background-color :white;
	padding: 20px 50px 20px 50px;
}

/* SECONDARY BLOCK  DYNAMIC */

a:hover
{
	text-decoration: underline;
}


header:hover, footer:hover
{
	opacity : 0.5;
}

/* CLASS */

.cta
{
	background: linear-gradient(90deg, #8E86B5, #ACAEED);
	color:white;
	font-style: 'Manrope';
	border :  #1F2039, solid;
	border-radius: 50px;
}

.cta:hover
{
	text-decoration: none;
	background: linear-gradient(90deg, #696484, #8788BA);
}

.propos
{
	border-bottom: 10px solid  #8e86b5;
	border-right: 10px solid #8e86b5;
	padding: 50px;

}

.propos h2
{
	margin-top: 30px;
}

.propos ul
{
	margin-top: 30px;
}

.apropos-main
{
	width: 50%;
	margin: auto;
}