body {
	font-family: 'Manrope', sans-serif;
	font-size: 1em;
	color :#F9F8FF;
	background-color: #1F2039;
}

h1
{
	font-size: 3.5em;
	color:#A5B4FC;
	font-family: 'Montserrat', sans-serif;
}

p
{
	font-size: 1.1em;
	color: #f9f8ff;
}

a
{
	color: #242424;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

em
{
	color: #a5b4fc;
	font-style: normal;
}

header, footer
{
	background-color :white
}

header:hover, footer:hover
{
	opacity : 0.5;
}

.cta
{
	background: linear-gradient(90deg, #8E86B5, #ACAEED);
	color:white;
	font-style: 'Manrope';
	border :  #1F2039, solid;
	border-radius: 50px;
}

.cta:hover
{
	text-decoration: none;
	background: linear-gradient(90deg, #696484, #8788BA);
}

.propos
{
	border-bottom: 10px solid  #8e86b5;
	border-right: 10px solid #8e86b5;
}